<extend name="Public/base"/>

<block name="body">
    <div class="panel admin-panel">
    <form method="post" class="form-x">
    	<div class="panel-head"><strong>{$title}内容列表</strong></div>
        <div class="padding border-bottom">
        	<div class="button-group button-group-small">
            <button type="button" class="button checkall" checkfor="ids[]" name="checkall"><span class="icon-check-square-o"></span> 全选</button>
             <a class="button" href="{:U('edit',array('name'=>$name))}"><span class="icon-plus text-green"></span> 新 增</a>
             <button class="button ajax-post confirm" url="{:U('del?name='.$name)}" target-form="form-x"><span class="icon-trash-o text-red"></span> 删 除</button>
             </div>
              <div class="float-right">
            	<input type="text" name="{$model['search_key']|default='title'}" class="input input-auto input-small" size="50" value="{:I('title')}" placeholder="请输入关键字" /> <a class="button button-small" href="javascript:;" id="search" url="{:U('adminList','name='.$name,false)}"><span class="icon-search"></span> 搜索</a>
            </div>
        </div>
        <empty name="custom_adminlist">
        <table class="table table-hover">
        	<tr>
                <th width="60">
                    序号
                </th>
                <volist name="list_grid" id="vo">
                    <th>{$vo.title}</th>
                </volist>
            </tr>
           	<volist name="_list" id="lv" key="vo">
            <tr>
                <td><input class="ids" type="checkbox" value="{$lv.id}" name="ids[]">{$lv.id}</td>
                <volist name="list_grid" id="lk">
                    <td>{:get_addonlist_field($lv, $lk, $name)}</td>
                </volist>
            </tr>
            </volist>
        </table>
        <else />
			<present name="custom_adminlist">
				{$custom_adminlist}
			</present>
		</empty>
         <div class="panel-foot text-center">
         	<div class="page">{$_page}</div>
        </div>
        </form>
    </div>
</block>
<block name="script">
	<script type="text/javascript">
		$(function(){
	        //搜索功能
			$("#search").click(function(){
				var url = $(this).attr('url');
		        var query  = $('.float-right').find('input').serialize();
		        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
		        query = query.replace(/^&/g,'');
		        if( url.indexOf('?')>0 ){
		            url += '&' + query;
		        }else{
		            url += '?' + query;
		        }
				window.location.href = url;
			});
			$('.table-hover th:last').attr('width',80);
		    //回车自动提交
		    $('.float-right').find('input').keyup(function(event){
		        if(event.keyCode===13){
		            $("#search").click();
		        }
    		});
		})
	</script>
</block>
