<!--
<div class="msg_winw">
    <div class="close">
        <img src="{$tplpath}/images/ad_close.png">
    </div>
    <script src="/index.php?s=/Home/Ad/index/id/13"></script>
</div>
-->
<style type="text/css">
    #ft.comlimi_footer {
    padding: 0;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px solid #f2f1f1;
    line-height: 24px;
    color: #555;
}
style_16_common.css:260
#ft {
    padding: 10px 0 50px;
    border-top: 1px solid #E9F5DE;
    line-height: 1.8;
    color: #555;
}
style_16_common.css:260
.comlimi_footer {
    background: #FFF url(http://www.suibiwang.com/template/comlimi_meiwencomcn/images/img/comlimi_footer_bg.png) repeat-x scroll 0px 0px;
    box-shadow: 1px 0px 3px #B0DE41;
    text-align: center;
    font-size: 14px;
}
style_16_common.css:260
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {
    margin: 0;
    padding: 0;
}
style_16_common.css:1
* {
    word-wrap: break-word;
}
.comlimi_footer p.p_1 {
    margin-bottom: 15px;
    color: #CCC;
}
style_16_common.css:260
.comlimi_footer p {
    line-height: 20px;
}
ul, li, p, em {
    list-style-type: none;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {
    margin: 0;
    padding: 0;
}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc {
    margin: 0;
    padding: 0;
}
* {
    word-wrap: break-word;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#ft.comlimi_footer {
    padding: 0;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0px solid #f2f1f1;
    line-height: 24px;
    color: #555;
}

#ft {
    padding: 10px 0 50px;
    border-top: 1px solid #E9F5DE;
    line-height: 1.8;
    color: #555;
}
.comlimi_footer {
    background: #FFF url(http://www.suibiwang.com/template/comlimi_meiwencomcn/images/img/comlimi_footer_bg.png) repeat-x scroll 0px 0px;
    box-shadow: 1px 0px 3px #B0DE41;
    text-align: center;
    font-size: 14px;
}
</style>
<div id="ft" class="comlimi_footer">
    <p class="p_1">
        <a href="javascript:void(0);">申请友链</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">关于我们</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">小黑屋</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">Archiver</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">申请认证</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">手机版</a>
        <span class="pipe">|</span>
        <a href="javascript:void(0);">App下载</a>
        <span class="pipe">|</span>
    </p>
    <p class="p_2"> 
        Copyright © 2012-2017 
        <a href="javascript:void(0);" target="_blank">{$webtitle} Inc.</a>
        &nbsp; All Rights Reserved.&nbsp; 
        <a href="javascript:void(0);" target="_blank">{$webtitle}</a>
        &nbsp; 版权所有 &nbsp;
        <span class="pipe">|</span>
        <a href="javascript:void(0);" target="_blank" title="网站地图">网站地图</a>

        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=441380237&amp;site=qq&amp;menu=yes" target="_blank" title="QQ">  
            <img src="http://www.tntstudy.cn/public/static/index/images/site_qq.jpg" alt="QQ">
        </a>&nbsp;
        <meta name="baidu_union_verify" content="df6591fe416d4aadb483900e83e3a802">
    </p>
    <p class="p_2">Powered by 
        <a href="javascript:void(0);" target="_blank">心随互联！</a> 
        <em>X3.2</em>&nbsp;技术支持：
        <a href="javascript:void(0);" target="_blank">{$webtitle}运营部</a> &nbsp;备案信息：
        <a href="javascript:void(0);" target="_blank">赣ICP备16007291号-1</a>
    </p>
    <div class="footer_service">
       <!--  <p class="p_2">本站大部分界面参照
            <a href="http://www.suibiwang.com" style="color:#8EC61D;">随笔网</a>，站内部分内容则从美文网或技术博客上摘录并非原创，希望大家谅解！
        </p> -->
        <p class="p_2">{$webtitle}版权所有.未经授权禁止链接、复制或建立</p>
    </div>
</div>
<!-- <div class="content margin-t30 bgcolor-fff border-top padding-tb15">
    <div class="container">
        <div class="col col3 vl-align-top">
            <div class="col col12 text-left">
                <h3 class="public_title_f">客户端</h3>
            </div>
            <div class="col col12 margin-t10">
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">iPad版</a>
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">iPhone版</a>
                <a href="{:U('Home/Other/index/tpl/app_down')}" target="_blank" class="col col4 f12 a1">Android版</a>
            </div>
        </div>
        <div class="col col5 vl-align-top">
            <div class="col col12 text-left">
                <h3 class="public_title_f">版权说明</h3>
            </div>
            <div class="col col12 f12 margin-t10 bottom-word h66">
                如果来函说明本网站提供内容系本人或法人版权所有.<br>
本网站在核实后，有权先行撤除，以保护版权拥有者的权益 <br>
邮箱地址：info@168tv.eu  <br>
{$webtitle}版权所有.未经授权禁止链接、复制或建立
            </div>
        </div>
    </div>
</div> -->

<script type="text/javascript" src="{$tplpath}/js/jquery.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/jquery.mouseDelay.min.js"></script>
<script type="text/javascript" src="{$tplpath}/js/template/global.js"></script>